<div class="resend_confirmation_container">
  <h2>Resend <span>C</span>onfirmation</h2>

  <div class="resend_confirmation_form_wrapper">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email", class:"table_input" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation", class:"form_button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
