<div class="editing_user_container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

 <div class="editing_user_form_wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"table_input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password 6 Characters minimum (leave blank if you don't want to change it)", class:"table_input" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class:"table_input" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password (we need your current password to confirm your changes)", class:"table_input" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:"form_button" %>
    </div>
  <% end %>
  <%= link_to "Back", :back , class:"links"%>
 </div>
  
</div>
