<div class="new_category_container">
  <div class="new_category_form_wrapper">
    <%= form_with model: @group, url: user_groups_path do |form| %>
        <div class="field">
          <%= form.text_field :name, placeholder: "Name", class:"table_input" %>
        </div>

        <div class="field">
          <%= form.text_field :icon, placeholder: "Icon link", class:"table_input" %>
        </div>
        <%= form.submit "Create Category", class: "splash-button create-category", class:"form_button" %>
    <% end %>
    <div class="actions">
    <%= link_to "Back to groups", unauthenticated_root_path, class:"links" %>
  </div>
  </div>
</div>
