<div class="expenses_container">
  <p style="color: green"><%= notice %></p>

  <h2><span>E</span>xpenses</h2>

  <div id="expenses">
    <% @expenses.each do |expense| %>
      <%= render expense %>
      <p>
        <%= link_to "Show this expense", expense %>
      </p>
    <% end %>
  </div>

  <%= link_to "New expense", new_user_expense_path, class: "links" %>
  <div>
  <%= link_to "Back to categories", unauthenticated_root_path, class: "links" %>
  </div>
</div>
